body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    width: 20%;
    
}
.container{
    position: absolute;
    left: 1155px;
    width: 156px;
    height: 178px;
    top: 110px;
}
.container h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 41px;
    line-height: 48px;
    letter-spacing: 9%;
}
.container p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    size: 57px;
    line-height: 31px;
    display: flex;
    align-items: flex-end;
    color: #47C2C7;
    position: absolute;
    top: 250px;
    
}
.header #email{
    position: absolute;
    width: 350px;
    left: 1155px;
    top: 455px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00c0f3
  
}
.header .password{
    position: absolute;
    width: 350px;
    left: 1150px;
    top: 505px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00c0f3
}
.header .checkbox{
    position: absolute;
    width: 350px;
    left: 980px;
    top: 557px; 
    border: 1px solid blue;
    background: rgb(21, 75, 175);
}   
.header label{
    width: 100px;
    position: absolute;
    left: 1180px;
    top: 560px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.12em;
    color: #5F5F5F;
}
.header a{
    position: absolute;
    width: 113px;
    height: 13px;
    left: 1425px;
    top: 560px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #5F5F5F;
}
.login a{
    position: absolute;
    width: 53px;
    height: 21px;
    left: 1159px;
    top: 600px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
    text-decoration: none;
    color: #faf5f5;
    outline: none;
    background: #00C0F3;
    width: 100px;
    height: 20px;
    padding: 10px;
    }
    #result{
   
        position: absolute;
      text-align: right;
      bottom: -50px;
      right: 10px;
    
        
    }